<ol class="breadcrumb">
    {{#each this}}
    {{#if @last}}
    <li class="active">{{this.name}}</li>
    {{else}}
    <li><a href="#file?{{this.id}}">{{this.name}}</a></li>
    {{/if}}{{/each}}
</ol>