<section class="register-container">
    <form class="form-horizontal col-md-6 col-md-offset-3 jumbotron">
        <fieldset>
            <legend>Register</legend>
            <div class="form-group">
                <label for="input-register-login" class="col-lg-4 control-label">Login:</label>

                <div class="col-lg-8">
                    <input type="text" class="form-control" id="input-register-login" placeholder="Login">
                </div>
            </div>
            <div class="form-group">
                <label for="input-register-password" class="col-lg-4 control-label">Password:</label>

                <div class="col-lg-8">
                    <input type="password" class="form-control" id="input-register-password" placeholder="Password">
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-4">
                <div id="pwstrength-progress"></div>
            </div>

            <div class="form-group">
                <label for="input-register-confirm-password" class="col-lg-4 control-label">Confirm password:</label>

                <div class="col-lg-8">
                    <input type="password" class="form-control" id="input-register-confirm-password"
                           placeholder="Confirm password">
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Register</button>
            </div>
        </fieldset>
    </form>
</section>