<section id="modal-container" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Upload File</h4>
                </div>
                <div class="modal-body">
                  <input id="files" type="file" style="display: none;">
                    <button id="add-files" type="button" class="btn btn-info">Add Files</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button  id="submit-files" type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>