.glyphicon:not(.glyphicon-file):not(.glyphicon-folder-open) {
    cursor: pointer;
}

.nav.navbar-nav.navbar-right li, .navbar.navbar-default .navbar-brand {
    margin: 0px 25px 0px 25px;
}

.form-group.col-md-3 {
    float: right;
}

#buttons-view {
    float: left;
}

/*#file-result-table-container {*/
/*float: left;*/
/*}*/

#response-result input, #response-result textarea {
    margin: 5%;
}

#response-content {
    height: 300px;
}

#login button {
    float: right;
    margin: 15px;
}

#register-container button {
    float: right;
    margin: 15px;
}

#register-container {
    position: relative;

    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

#pwstrength-progress {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
}

#pwstrength-progress .progress {
    margin: 0px;
}

.name {
    cursor: pointer;
}

.glyphicon-remove {
    color: red;
}

input#name {
    width: 80%;
}

.search-choice-close {
    content: 'x';
}

#login, .register-container {
    margin-top: 10%;
}

.inactive {
    cursor: none;
    pointer-events: none;
    opacity: 0.3;
}

#user-data{
    color: white;
    margin-top: 22px;
}
