<td><span class="glyphicon {{iconHelper type}}"></span></td>
<td {{#isFolder type}}class="name"{{/isFolder}}>{{name}} {{#isFolder type}} {{badge ../contentSize}} {{/isFolder}} </td>
<td>{{type}}</td>
<td>{{#isFolder type}} Contains: {{../contentSize}} item/s {{else}} {{../size}} {{/isFolder}}</td>
<td>{{creationTime}}</td>
<td {{#unless isModifiable}}class="inactive"{{/unless}}><span class="glyphicon glyphicon-pencil"></span></td>
<td {{#unless isModifiable}}class="inactive"{{/unless}}><span class="glyphicon glyphicon-remove"></span></td>
<td>{{#isFolder type}}{{else}}<span class="glyphicon glyphicon-arrow-down"></span>{{/isFolder}}</td>
<td>{{#isFolder type}}{{else}}<span class="glyphicon glyphicon-share"></span>{{/isFolder}}</td>
