<section id="navbar">
    <div class="navbar navbar-default">
        <a class="navbar-brand" href="#">REST File</a>
        <ul class="nav navbar-nav navbar-right">
            <li id="user-data"></li>
            <li><a href="#logout">Logout</a></li>
        </ul>
    </div>
</section>

<div id="breadcrumbs-container" class="container"></div>
<div id="upload-modal-container" class="container"></div>
<div id="create-modal-container" class="container"></div>
<div id="change-modal-container" class="container"></div>
<div id="share-modal-container" class="container"></div>
<div id="buttons-view" class="row">
    <button id="create-btn" class="btn btn-primary">Create folder</button>
    <button id="upload-btn" class="btn btn-primary">Upload</button>
</div>

<div class="form-group col-md-3">
    <div class="input-group">
        <input id="search-name" type="text" class="form-control">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </span>
    </div>
</div>
<div class="col-md-8">
    <table class="table table-striped table-hover">
        <thead>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Date</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<span class="response-viewer col-md-4"></span>