<form id="login" class="form-horizontal col-md-6 col-md-offset-3 jumbotron">
    <fieldset>
        <legend>Login</legend>
        <div class="form-group">
            <label for="inputLogin" class="col-lg-2 control-label">Login</label>

            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputLogin" placeholder="Login">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>

            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <button id="login-btn" class="btn btn-primary">Login</button>
            <button id="register-btn" class="btn btn-primary">Register</button>
        </div>
    </fieldset>
</form>