<section id="response-result">
    <div class="form-group has-success">
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span class="glyphicon glyphicon-arrow-right"></span>
        <label>Move through requests</label><br>
        <label class="control-label" for="response-url">Request url</label>
        <textarea id="response-url" disabled class="form-control">{{this.url}}</textarea>
        <input id="response-status" disabled class="form-control" value="Status: {{this.status}}">
        <input id="response-status-text" disabled class="form-control" value="Status text: {{this.statusText}}">
        <label class="control-label" for="response-content">Response object</label>
        <textarea id="response-content" disabled class="form-control" value="{{escape this.response}}">{{escape
            this.response}}</textarea>
    </div>
</section>